.img-area-rigth {
    background-image: url('../../assets/RightImage.png');
    background-position: center;
    background-size: cover;
    width: 50%;
}

.signIn-form {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.signIn-form h2 {
    margin-bottom: 40px;
}

.btn-signIn {
    display: flex;
    flex-direction: column;
}