.img-area-rigth {
    background-image: url('../../assets/RightImage.png');
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 50%;
}

.signIn-form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 80px;
    margin-right: 40px;
}

.signIn-form h2 {
    margin-bottom: 40px;
}

.btn-signIn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}