.container-main {
    min-height: 100vh;
}

.action-list {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.input-search {
    height: 3rem;
    width: 20rem;
    padding: 0.7rem 0.8rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px 0 rgba(218, 1, 117, 0.05);

    background: rgb(240, 236, 236);
}

.sub-container {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    padding: 0px 200px 80px 200px;
}

.title-contact {
    background-color: #F4F0F0;
    font-size: 12px;
    font-weight: 700;
    height: 45px;
    width: 606px;
    display: flex;
    align-items: center;
    gap: 215px;
    margin: 45px 0px 40px 0px;
}

.title-contact span {
    margin-left: 32px;
}