.container-main {
    min-height: 100vh;
}

.action-list {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.input-search {
    background: rgb(240, 236, 236);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(218, 1, 117, 0.05);
    height: 3rem;
    width: 20rem;
    margin-bottom: 0.75rem;
    margin-left: 2rem;
    padding: 0.7rem 0.8rem;

}

.sub-container {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    padding: 0px 150px 80px 150px;
}

.title-contact span {
    margin-left: 32px;
}