.card-delete {
    background-color: #FFFDFD;
    border-radius: 8px;
    height: 319px;
    width: 477px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.card-delete img {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.card-delete span {
    font-size: 14px;
    font-weight: 400;
    margin: 24px 0px 30px 0px;
}

.delete-btn {
    margin-bottom: 10px;
}

@media (max-height: 380px) {
    .card-delete {
        height: 280px;
    }

    .cardModal-container {
        align-items: flex-end;
    }

    .delete-btn {
        margin-bottom: 0px;
    }
}

@media (max-width: 430px) {

    .delete-btn,
    .cancel-delete {
        width: 260px;
    }
}

@media (max-width: 500px) {
    .card-delete {
        margin: 0px 10px;
        width: 50rem;
    }

    .card-delete img {
        top: 10px
    }
}