.btn-clean {
    margin-top: 8px;
}

.cardModal {
    background-color: #FFFDFD;
    border-radius: 8px;
    height: 80%;
    width: 476px;
    margin: 20px;
    padding: 5px;
    position: relative;
}

.cardModal h2 {
    margin-bottom: 40px;
}

.cardModal img {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.cardUpdate {
    width: 494px;
}

.content-card {
    min-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-height: 600px) {
    .cardModal {
        height: 70%;
        overflow-y: scroll;
    }
}