@media (max-width: 372px) {
    .MuiTextField-root {
        width: 260px;
    }

    .MuiButton-contained {
        width: 260px !important;
    }
}

@media (min-width: 373px) and (max-width: 1110px) {
    .MuiTextField-root {
        width: 350px;
    }

    .MuiButton-contained {
        width: 350px !important;
    }
}

@media (max-height: 425px) {

    .error-alert,
    .success-alert {
        margin: 0px 0px 15px 10px;
    }

    .inputs-fields {
        margin-bottom: 0px !important;
    }

    .login-form h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

@media (min-height: 426px) {
    .inputs-fields {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 755px) {
    .img-area-left {
        display: none;
    }

    .login-form {
        background-image: url('../assets/LeftImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .login-form h1 {
        color: rgb(226, 137, 151);
    }

    .login-form h3 {
        color: white;
    }

    .question {
        margin-top: 30px;
    }
}

@media (max-width: 1110px) {

    .MuiBox-root {
        width: 0px;
    }

    .login-form {
        padding-left: 10px;
    }
}