@media (max-width: 725px) {
    .img-area-left {
        display: none;
    }

    .login-form {
        background-image: url('../assets/LeftImage.jpg');
        /* margin-left: 0px; */
        width: 100%;
    }

    .login-form h1 {
        color: rgb(226, 137, 151);
    }

    .login-form h3 {
        color: white;
    }
}

@media (max-width: 1110px) {
    .MuiTextField-root {
        width: 350px;
    }

    .MuiBox-root {
        width: 0px;
    }

    .MuiButton-contained {
        width: 350px !important;

    }

    .login-form {
        padding-left: 10px;
    }
}