@media (max-width: 420px) {
    .action-list {
        flex-direction: column;
    }

    .input-search {
        margin-left: 0px;
        width: 160px;
    }
}

@media (max-width: 1110px) {
    .btn-add {
        width: 150px;
    }

    .signIn-form {
        padding-right: 10px;
    }

    .sub-container {
        padding: 0px 30px 0px 30px;
    }
}